<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <!-- Define NLog extensions -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  
  <!-- Define NLog targets -->
  <targets>
    <!-- Target for logging to a file -->
    <target name="logfile" xsi:type="File" fileName="serviceXYZ.log" />
    
    <!-- Target for logging to the console -->
    <target name="logconsole" xsi:type="Console" />
  </targets>
  
  <!-- Define NLog rules -->
  <rules>
    <!-- Log all messages with minimum level of Debug to the file target -->
    <logger name="*" minlevel="Debug" writeTo="logfile" />
    
    <!-- Log all messages with minimum level of Info to the console target -->
    <logger name="*" minlevel="Info" writeTo="logconsole" />
  </rules>
</nlog>